nat
 bsc 0
  token BSC0
  location_area_code 1
  description bsc
  max-endpoints 32
  paging forbidden 0
 bsc 1
  token BSC1
  location_area_code 2
  description bsc
  max-endpoints 32
  paging forbidden 0
 bsc 2
  token BSC2
  location_area_code 3
  description bsc
  max-endpoints 32
  paging forbidden 0
