[ORDERED_INCLUDE]
"/osmo-ttcn3-hacks/Common.cfg"
"/osmo-ttcn3-hacks/hnodeb/HNB_Tests.default"

[LOGGING]
*.JUnitLogger.testsuite_name := "HNB_Tests"
FileMask := LOG_ALL | TTCN_MATCHING | TTCN_DEBUG

[TESTPORT_PARAMETERS]
*.HNBVTY.CTRL_HOSTNAME := "172.18.33.20";
*.STATSVTY.CTRL_HOSTNAME := "172.18.33.20";
*.IPL4.debug := "YES";
*.Iuh.debug := "YES";
system.SCTP_PORT.debug := "yes";
system.SCTP_SimpleClientPort.debug := "yes"
system.SCTP_SimpleServerPort.debug := "yes"
system.SCTP_ClientPort.debug := "yes"
system.SCTP_ServerPort.debug := "yes"

[MODULE_PARAMETERS]
HNB_Tests.mp_hnodeb_ip   := "172.18.33.20";
HNB_Tests.mp_hnbgw_iuh_ip   := "172.18.33.203";
HNB_Tests.mp_hnbllif_sk_path := "/data/unix/ll_sock";

[MAIN_CONTROLLER]

[EXECUTE]
HNB_Tests.control
#HNB_Tests.TC_hnb_register_request_accept
#HNB_Tests.TC_hnb_register_request_reject
#HNB_Tests.TC_ps_mo_gtp_ping_pong
#HNB_Tests.TC_ps_mo_gtp_ping_pong
#HNB_Tests.TC_paging
#HNB_Tests.TC_cs_mo_call_audio_v0
#HNB_Tests.TC_cs_mo_call
