[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"/osmo-ttcn3-hacks/Common.cfg"
# testsuite specific configuration, not expected to change
"/osmo-ttcn3-hacks/gbproxy/GBProxy_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]
*.GBPVTY.CTRL_HOSTNAME := "172.18.24.10"

[MODULE_PARAMETERS]
GBProxy_Tests.mp_nsconfig_sgsn := {
	{
		handle_sns := true,
		nsvc := {
			{
				provider := {
					ip := {
						address_family := AF_INET,
						local_ip := "172.18.24.103",
						local_udp_port := 23000,
						remote_ip := "172.18.24.10"
					}
				}
			}
		}
	}, {
		handle_sns := true,
		nsvc := {
			{
				provider := {
					ip := {
						address_family := AF_INET,
						local_ip := "172.18.24.103",
						local_udp_port := 24000,
						remote_ip := "172.18.24.10"
					}
				}
			}
		}
	}
}
GBProxy_Tests.mp_nsconfig_pcu := {
	{
		nsvc := {
			{
				provider := {
					ip := {
						address_family := AF_INET,
						local_ip := "172.18.24.103",
						remote_ip := "172.18.24.10"
					}
				}
			}
		}
	}, {
		nsvc := {
			{
				provider := {
					ip := {
						address_family := AF_INET,
						local_ip := "172.18.24.103",
						remote_ip := "172.18.24.10"
					}
				}
			}
		}
	}, {
		nsvc := {
			{
				provider := {
					ip := {
						address_family := AF_INET,
						local_ip := "172.18.24.103",
						remote_ip := "172.18.24.10"
					}
				}
			}
		}
	}
}

[MAIN_CONTROLLER]

[EXECUTE]
GBProxy_Tests.control
