%% -*- erlang -*-

[%% ================================================================================
 %% application config
 %%
 %%   eNB              S1GW
 %% +-----+     +----------------+
 %% | ... | --> | s1gw_bind_addr |             MME
 %% +-----+     +----------------+     +-----------------+
 %%             |  mme_loc_addr  | --> |  mme_rem_addr   |
 %%             +----------------+     +-----------------+
 %% ================================================================================
 {osmo_s1gw,
  [{s1gw_bind_addr, "172.18.10.200"}, %% S1GW bind address for incoming eNB connections
   {mme_loc_addr, "172.18.10.100"}, %% local address for outgoing connections to the MME
   {mme_rem_addr, "172.18.10.101"} %% remote address for outgoing connections to the MME
  ]},
 %% ================================================================================
 %% kernel config
 %% ================================================================================
 {kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{level => debug,
        formatter => {logger_formatter,
                      #{template => [time, " ",
                                     "[", level, "]",
                                     {pid, [" ", pid, ""], ""},
                                     {prefix, [" ", prefix, " ::"], ""},
                                     " ", msg,
                                     {mfa, [" (", mfa, ":", line, ")"], ""},
                                     "\n"]}}}}]}]}].

%% vim:set ts=2 sw=2 et:
