[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"../Common.cfg"
# testsuite specific configuration, not expected to change
"./NS_Tests.default"

[LOGGING]

[MODULE_PARAMETERS]
NS_Tests.mp_dialect := NS2_DIALECT_IPACCESS
NS_Tests.mp_nsconfig := {
	nsei := 2001,
	role_sgsn := false,
	handle_sns := false,
	nsvc := {
		{
			provider := {
				fr := {
					netdev := "hdlc1",
					dlci := 16
				}
			},
			nsvci := 1
		}, {
			provider := {
				fr := {
					netdev := "hdlc2",
					dlci := 17
				}
			},
			nsvci := 2
		}, {
			provider := {
				fr := {
					netdev := "hdlc3",
					dlci := 18
				}
			},
			nsvci := 3
		}, {
			provider := {
				fr := {
					netdev := "hdlc4",
					dlci := 19
				}
			},
			nsvci := 4
		}
	}
}

[TESTPORT_PARAMETERS]

[MAIN_CONTROLLER]

[EXECUTE]
NS_Tests.control
