[ORDERED_INCLUDE]
"/osmo-ttcn3-hacks/Common.cfg"
"/osmo-ttcn3-hacks/mgw/MGCP_Test.default"

[LOGGING]

[TESTPORT_PARAMETERS]
*.MGWVTY.CTRL_HOSTNAME := "172.18.4.180"
*.STATSVTY.CTRL_HOSTNAME := "172.18.4.180"

[MODULE_PARAMETERS]
mp_local_ipv4 := "172.18.4.181";
mp_local_ipv6 := "fd02:db8:4::181";
mp_remote_ipv4 := "172.18.4.180";
mp_remote_ipv6 := "fd02:db8:4::180";
mp_num_endpoints := 300;

[MAIN_CONTROLLER]

[EXECUTE]
MGCP_Test.control
#MGCP_Test.TC_crcx
#MGCP_Test.TC_crcx_mdcx_ip4
#MGCP_Test.TC_crcx_mdcx_ip6
#MGCP_Test.TC_two_crcx_mdcx_and_rtp
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_ipv4_ipv6
#MGCP_Test.TC_crcx_osmux_257

#MGCP_Test.TC_crcx_osmux_fixed_twice
#MGCP_Test.TC_one_crcx_receive_only_osmux
#MGCP_Test.TC_one_crcx_loopback_osmux
#MGCP_Test.TC_two_crcx_and_rtp_osmux
#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_wildcard
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_fixed
#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir_ipv6
#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir_ipv4_ipv6
#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir_ipv6_ipv4
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_ipv6
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_ipv4_ipv6
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_ipv6_ipv4

#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir
#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir_amr_bwe
#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir_ipv4_ipv6
#MGCP_Test.TC_two_crcx_and_rtp_osmux_bidir_ipv6
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_ipv4_ipv6
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_ipv6
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_wildcard
#MGCP_Test.TC_two_crcx_mdcx_and_rtp_osmux_wildcard
