[ORDERED_INCLUDE]
"/osmo-ttcn3-hacks/Common.cfg"
"/osmo-ttcn3-hacks/ggsn_tests/GGSN_Tests.default"

[LOGGING]
*.JUnitLogger.testsuite_name := "GGSN_Tests"

[TESTPORT_PARAMETERS]
*.GGSNVTY.CTRL_HOSTNAME := "172.18.3.201"

[MODULE_PARAMETERS]
# our Own IP address
GGSN_Tests.m_bind_ip_gtpc := "172.18.3.202"
GGSN_Tests.m_bind_ip_gtpu := "172.18.3.202"
# GGSN IP address
GGSN_Tests.m_ggsn_ip_gtpc := "172.18.3.201"
GGSN_Tests.m_ggsn_ip_gtpu := "172.18.3.201"
# GGSN announced DNS address
GGSN_Tests.m_ggsn_ip4_dns1 := "172.18.3.201"
GGSN_Tests.m_ggsn_ip6_dns1 := "fd02:db8:3::201"
GGSN_Tests.m_ggsn_impl := GGSN_IMPL_OPEN5GS

[EXECUTE]
#GGSN_Tests.control
GGSN_Tests.TC_pdp4_act_deact
