[
 %% ===========================================
 %% Application config
 %% ===========================================
 {osmo_epdg,
  [% GSUP Server connection parameters
   {gsup_local_ip, "172.18.10.20"},
   {gsup_local_port, 4222},
   % Diameter Connection parameters
   {diameter_remote_ip, "172.18.10.103"},
   {diameter_remote_port, 3868},
   {diameter_proto, sctp},
   % Diameter Server parameters
   {vendor_id, 0},
   {origin_host, "epdg.localdomain"},
   {origin_realm, "localdomain"},
   {context_id, "epdg@localdomain"}]}
].
