[
 %% ===========================================
 %% Application config
 %% ===========================================
 {osmo_epdg,
  [% GSUP Server connection parameters
   {gsup_local_ip, "172.18.10.20"},
   {gsup_local_port, 4222},
   % Diameter Connection parameters
   {diameter_remote_ip, "172.18.10.103"},
   {diameter_remote_port, 3868},
   {diameter_proto, sctp},
   {vendor_id, 0},
   {origin_host, "epdg.localdomain"},
   {origin_realm, "localdomain"},
   {context_id, "epdg@localdomain"},
   % Diameter s6b Connection parameters
   {dia_s6b_local_ip, "172.18.10.20"},
   {dia_s6b_local_port, 3869},
   {dia_s6b_proto, sctp},
   {dia_s6b_vendor_id, 0},
   {dia_s6b_origin_host, "aaa.localdomain"},
   {dia_s6b_origin_realm, "localdomain"},
   {dia_s6b_context_id, "aaa@localdomain"},
   % GTPv2C Connection parameters
   {gtpc_local_ip, "172.18.10.20"},
   {gtpc_local_port, 2123},
   {gtpc_remote_ip, "172.18.10.103"},
   {gtpc_remote_port, 2123}
  ]
 }
].
