[{osmo_dia2gsup, [
        {hlr_ip, "172.18.10.103"},
        {hlr_port, 4222},

        {diameter_ip, "172.18.10.20"},
        {diameter_port, 3868},
        {diameter_proto, sctp},
        {diameter_connect_timer, 200},

        {origin_host, "hss.localdomain"},
        {origin_realm, "localdomain"},
        {vendor_id, 0}
]}].
