[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"/osmo-ttcn3-hacks/Common.cfg"
# testsuite specific configuration, not expected to change
"/osmo-ttcn3-hacks/fr/FR_Tests.default"

[LOGGING]
ConsoleMask := ERROR | WARNING | TESTCASE | USER

[MODULE_PARAMETERS]

[TESTPORT_PARAMETERS]

[MAIN_CONTROLLER]

[EXECUTE]
FR_Tests.control
