[ORDERED_INCLUDE]
# Common configuration, shared between test suites
"/osmo-ttcn3-hacks/Common.cfg"
# testsuite specific configuration, not expected to change
"/osmo-ttcn3-hacks/hss/HSS_Tests.default"

# Local configuration below

[LOGGING]

[TESTPORT_PARAMETERS]

[MODULE_PARAMETERS]
mp_hss_hostname := "172.18.3.201";
mp_hss_port := 3868;
mp_diam_local_hostname := "172.18.3.202";
mp_diam_local_port := 3868;
mp_diam_orig_realm := "localdomain";
mp_diam_orig_host := "mme.localdomain";
mp_diam_dest_realm := "localdomain";
mp_diam_dest_host := "hss.localdomain";

[MAIN_CONTROLLER]

[EXECUTE]
HSS_Tests.control
